<div class="container">
  <h1>Welcome to SchWeinHocksin!</h1>

  <form id="twitter" action = '/tweet' method="post">
    <input type="text" name="tweet" placeholder="Schwein NOW!">
    <input type="submit" value="submit">
  </form>
  </div>
